body {
  margin: 0;
}

header {
  grid-area: header;
  background: #ccc;
}

#sidebar {
  grid-area: sidebar;
}

nav {
  position: sticky;
  top: 0;
}

rocket-navigation {
  overflow: auto;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(200px, 250px) minmax(300px, 1fr);
  grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';
}

rocket-navigation ul {
  padding: 10px;
  margin: 0;
  list-style-type: none;
}

rocket-navigation > ul {
  padding: 0;
}

rocket-navigation a {
  font-size: 1.1em;
  line-height: 1.7;
  font-weight: 700;
  font-size: 1em;
  font-weight: 400;
  display: inline-block;
  color: #2c3e50;
  border-left: 0.25rem solid transparent;
  line-height: 1.4;
  display: block;
  box-sizing: border-box;
}
