html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: var(--page-background);
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

pre {
  overflow: auto;
}

.logo-link svg {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.light-dark-switch {
  /* disabled for now */
  display: none !important;
}

.light-dark-switch::part(button) {
  height: 20px;
  width: 40px;
}

.light-dark-switch::part(thumb) {
  right: 20px;
  border: solid 1px #4d4d4d;
  border-radius: 50%;
  width: calc(50% - 2px);
  height: calc(100% - 2px);
  background-color: white;
}
.light-dark-switch[checked]::part(thumb) {
  right: 0px;
}
.light-dark-switch::part(track) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #4d4d4d;
}

.light-dark-switch[checked]::part(track)::before {
  content: '🌞';
  position: absolute;
  left: 2px;
  top: 4px;
  line-height: 14px;
}

.light-dark-switch::part(track)::before {
  content: '🌛';
  position: absolute;
  left: 22px;
  top: 4px;
  line-height: 14px;
}

.light-dark-switch {
  margin-right: 50px;
  --generic-switch-focus: 0 0 2px 3px #e63a46;
}

hr {
  border: none;
  height: 1px;
  background: #ccc;
}

/** LAYOUT ****************************************************************************************/
#content-wrapper .content-area {
  display: flex;
}

@media screen and (min-width: 1024px) {
  #wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .content-area {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/** HEADER ****************************************************************************************/
header {
  border-bottom: 1px solid var(--primary-color-darker);
  align-items: center;
  padding: 10px 15px;
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom, var(--primary-color-lighter), var(--primary-color));
  z-index: 100;
}

header .content-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--contrast-color-light, #fff);
  transition: color 0.3s linear;
  font-weight: bold;
}

header a:hover,
header a.active {
  color: var(--contrast-color-dark, #000);
}

header a.active {
  transition-duration: 0s;
}

#mobile-menu-trigger {
  border: none;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  background: none;
  padding: 0;
  color: var(--contrast-color-light, #fff);
}

.social-link {
  color: var(--contrast-color-light, #fff);
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.social-link img {
  width: 100%;
}

header .logo-link {
  display: none;
  color: var(--contrast-color-light, #fff);
}

header .light-dark-switch {
  display: none;
}

@media screen and (min-width: 1024px) {
  header a {
    margin-right: 50px;
  }

  header a:nth-of-type(2) {
    margin-left: auto;
  }

  #mobile-menu-trigger {
    display: none;
  }

  header .logo-link {
    display: block;
  }

  header .light-dark-switch {
    display: block;
  }
}

/** SIDEBAR ***************************************************************************************/
#sidebar {
  display: none; /* for loading */
}

#sidebar-nav {
  background: var(--page-background, #fff);
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow: auto;
}

rocket-navigation .light-dark-switch {
  margin-bottom: 10px;
}

rocket-navigation .light-dark-switch::part(label) {
  order: 10;
  margin-left: 10px;
}

rocket-navigation a {
  text-decoration: none;
  color: var(--primary-text-color);
}

rocket-navigation a:hover {
  color: var(--primary-color);
}

rocket-navigation li.current > a {
  color: var(--primary-color);
}

/* line on the left to indicate current page */
rocket-navigation li.current::before {
  content: '';
  height: 1.6em;
  width: 4px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  margin-top: -2px;
}

rocket-navigation li.current.anchor::before {
  width: 2px;
  left: 1px;
}

rocket-navigation li {
  padding: 7px 0;
}

rocket-navigation hr {
  margin: 30px -10px 10px -10px;
}

/* Hide below 3rd level by default */
rocket-navigation > ul > li > ul > li ul {
  display: none;
}

/* Only show below 3rd level if level above is active/current */
li.current > ul,
li.active > ul {
  display: block;
}

rocket-navigation h3,
rocket-navigation > ul > li > a {
  font-weight: bold;
  color: var(--primary-color);
  text-transform: uppercase;
}

rocket-navigation > ul > li > ul a {
  font-weight: bold;
}

rocket-navigation > ul > li > ul a.anchor {
  font-weight: normal;
}

rocket-navigation {
  overflow: auto;
  display: block;
  padding: 10px;
}

rocket-navigation ul {
  padding: 7px 0 10px 15px;
  margin: 0;
  list-style-type: none;
}

rocket-navigation > ul {
  padding: 0;
  position: relative;
}

#sidebar-nav .logo-link {
  display: block;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  height: 52px;
  line-height: 52px;
  padding-left: 10px;

  /* same as header */
  border-bottom: 1px solid var(--primary-color-darker);
  background: linear-gradient(to bottom, var(--primary-color-lighter), var(--primary-color));
  color: var(--contrast-color-light, #fff);
}

#sidebar-nav .logo-link span {
  padding-left: 10px;
}

#sidebar-nav li.anchor {
  padding: 4px 0;
}

#sidebar-nav li.anchor a {
  position: relative;
}

#sidebar-nav li.anchor a:hover::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: url(./octicon.svg);
  background-size: contain;
  left: -16px;
  top: 0;
  display: block;
}

#sidebar-nav li.anchor:last-child {
  padding: 4px 0 0 0;
}

li.anchor {
  display: none;
}

li.current > ul > li.anchor {
  display: block;
}

@media screen and (min-width: 1024px) {
  #sidebar {
    position: sticky;
    height: 100%;
    left: 0;
    top: 70px;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: block;
    min-width: 260px;
    z-index: 10;
    margin-top: 18px;
    margin-right: 15px;
  }

  #sidebar .sidebar-bottom {
    display: none;
  }

  #sidebar hr {
    margin: 30px 0 10px 0;
    background: linear-gradient(90deg, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 0) 80%);
  }

  #sidebar-nav {
    width: 100%;
    position: static;
  }

  #sidebar .logo-link {
    display: none;
  }

  rocket-navigation {
    padding: 0 15px 0 0;
  }

  body:not([layout='with-sidebar']) #sidebar {
    display: none;
  }

  body[layout='blog-details'] #sidebar {
    display: block;
  }
}

/* for blog detail page */
rocket-navigation h3 {
  font-size: 16px;
  margin: 0 0 7px 0;
}

.sidebar-tags h3 {
  margin-top: 40px;
}

.sidebar-tags .tags {
  display: flex;
  flex-wrap: wrap;
}

.sidebar-tags .tag {
  background: #ccc;
  margin: 5px 0 0 5px;
  padding: 5px 10px;
  box-sizing: content-box;
  border-radius: 20px;
}

/** MAIN ******************************************************************************************/
#content-wrapper {
  min-height: 60vh;
}

main {
  padding: 20px;
  width: 100%;
  position: relative;
}

main > * {
  scroll-margin-top: 60px;
}

@media screen and (min-width: 1024px) {
  main {
    padding: 15px 0 0 0;
    z-index: 50;
  }
}

/** FOOTER ****************************************************************************************/
footer {
  margin-top: 50px;
  border-top: 1px solid #eaeaea;
  background-color: var(--footer-background, rgba(0, 0, 0, 0.1));
  color: var(--text-color);
  padding: 40px 0;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#footer-menu .content-area {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  #footer-menu .content-area {
    flex-direction: row;
    text-align: left;
  }
}

#footer-menu ul {
  list-style-type: none;
  padding: 0;
}

#footer-menu a {
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 5px 0;
  display: block;
}

/** CALL TO ACTION ********************************************************************************/

.markdown-body .call-to-action-list {
  text-align: center;
  padding: 25px 0;
}

.markdown-body .call-to-action {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 24px;
  background: linear-gradient(to bottom, var(--primary-color-lighter), var(--primary-color));
  text-shadow: var(--primary-color-darker) 1px 1px 1px;
  font: normal normal bold 20px arial;
  color: var(--contrast-color-light, #fff);
  text-decoration: none;
}

.markdown-body .call-to-action:hover,
.markdown-body .call-to-action:focus {
  background: linear-gradient(to bottom, var(--primary-color), var(--primary-color-darker));
  text-decoration: none;
}

.markdown-body .call-to-action:active {
  background: var(--primary-color-darker);
}

.markdown-body .call-to-action svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
}

.markdown-body .call-to-action path {
  fill: #fff;
}

/** HOME ******************************************************************************************/

body[layout='home'] main {
  padding-top: 50px;
}

body[layout='home'] .page-title {
  color: var(--primary-color);
  font-size: 50px;
}

body[layout='home'] .page-logo {
  display: block;
  margin: 0 auto;
  width: 35vw;
  max-width: 250px;
}

body[layout='home'] .page-title,
body[layout='home'] .reason-header,
body[layout='home'] .page-slogan {
  text-align: center;
  border-bottom: none;
  color: var(--text-color);
}

body[layout='home'] .page-slogan {
  font-size: 25px;
}

body[layout='home'] .reason-header {
  margin-top: 60px;
}

body[layout='home'] .reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--text-color);
}

body[layout='home'] .reasons > div {
  flex: 0 1 280px;
  margin: 10px 30px;
  flex-grow: 1;
}

body[layout='home'] .markdown-body .call-to-action {
  margin: 10px;
}

/** HOME WITH BACKGROUND **************************************************************************/
body[layout='home'].has-background .page-background {
  display: none;
}

@media screen and (min-width: 1024px) {
  body[layout='home'].has-background .page-title,
  body[layout='home'].has-background .page-slogan {
    text-align: left;
  }

  body[layout='home'].has-background .page-title {
    margin-top: 150px;
  }

  body[layout='home'].has-background .page-slogan {
    max-width: 500px;
  }

  body[layout='home'].has-background .markdown-body .call-to-action-list {
    text-align: left;
  }

  body[layout='home'].has-background header {
    background: transparent;
    border-bottom: none;
  }

  body[layout='home'].has-background .page-background {
    display: block;
    position: absolute;
    top: -52px;
    right: -60px;
    z-index: -1;
  }

  body[layout='home'].has-background .page-logo {
    display: none;
  }

  body[layout='home'].has-background header .logo-link {
    color: var(--contrast-color-dark, #000);
  }
}

/** BLOG OVERVIEW **************************************************************************/

body[layout='blog-details'] rocket-navigation > ul > li.current::before {
  display: none;
}

body[layout='blog-details'] #sidebar-nav li.anchor a:hover::before {
  display: none;
}

.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;

  /* css flexbox gap workaround https://coryrylan.com/blog/css-gap-space-with-flexbox */
  --gap: 60px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.articles article {
  flex: 0 1 360px;
  margin: var(--gap) 0 0 var(--gap);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.articles article h2 {
  margin: 0;
  border: none;
}

.articles article .read {
  display: block;
  text-align: right;
}

.articles article .content {
  padding: 10px;
}

.articles article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
