html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2c3e50;
}

* {
  box-sizing: border-box;
}

pre {
  overflow: auto;
}

.logo-link img {
  width: 30px;
  height: 30px;
}

/** LAYOUT ****************************************************************************************/
#content-wrapper .content-area {
  display: flex;
}

@media screen and (min-width: 1024px) {
  #wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .content-area {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/** HEADER ****************************************************************************************/
header {
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 10px 15px;
  position: sticky;
  top: 0;
  background: #fff;
}
header .content-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
}
header a.active {
  color: red;
}
header a span,
header button span {
  display: none;
}
#mobile-menu-trigger {
  border: none;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  background: none;
  padding: 0;
}
#github-link {
  color: #000;
  width: 30px;
}
header .logo-link {
  display: none;
}

@media screen and (min-width: 1024px) {
  header {
    z-index: 100;
  }
  #mobile-menu-trigger {
    display: none;
  }
  header .logo-link {
    display: block;
  }
}

/** SIDEBAR ***************************************************************************************/
#sidebar {
  display: none; /* for loading */
}
#sidebar-nav {
  background: #fff;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#sidebar-nav a {
  text-decoration: none;
  color: #2c3e50;
}
#sidebar-nav li.active > a {
  color: #ee0000;
}
#sidebar-nav li.current > a {
  color: red;
}

#sidebar-nav li {
  padding: 7px 0;
}

/* Hide 3rd level by default */
rocket-navigation > ul > li > ul > li > ul {
  display: none;
}
/* Only show 3rd level if level above is active/current */
li.current > ul,
li.active > ul {
  display: block;
}

rocket-navigation > ul > li > a {
  font-weight: 700;
}
rocket-navigation {
  overflow: auto;
  display: block;
  padding: 10px;
}
rocket-navigation ul {
  padding: 7px 0 10px 15px;
  margin: 0;
  list-style-type: none;
}
rocket-navigation > ul {
  padding: 0;
}

#sidebar-nav .logo-link {
  display: block;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  height: 52px;
  line-height: 52px;
  padding-left: 10px;
}
#sidebar-nav .logo-link span {
  padding-left: 10px;
}
#sidebar-nav li.anchor a {
  color: #777;
}
#sidebar-nav li.anchor a::before {
  content: '>';
  margin: 0 4px 0 -1px;
  display: block;
  float: left;
}
#sidebar-nav li.anchor:last-child {
  padding: 7px 0 0 0;
}

li.anchor {
  display: none;
}
li.current > ul > li.anchor {
  display: block;
}

@media screen and (min-width: 1024px) {
  #sidebar {
    position: sticky;
    height: 100%;
    left: 0;
    top: 70px;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: block;
    min-width: 260px;
    z-index: 10;
  }
  #sidebar-nav {
    width: 100%;
    position: static;
  }
  #sidebar .logo-link {
    display: none;
  }
  rocket-navigation {
    padding: 0;
  }
  body:not([layout='with-sidebar']) #sidebar {
    display: none;
  }
}

/** MAIN ******************************************************************************************/
main {
  padding: 20px;
  width: 100%;
}

main > * {
  scroll-margin-top: 60px;
}

body[layout='home'] main {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  main {
    padding: 15px 0 0 0;
    z-index: 50;
  }
}

/** FOOTER ****************************************************************************************/
#newsletter {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.101562);
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
#newsletter h4 {
  margin: 0;
}

#footer-menu {
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
#footer-menu .content-area {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  #footer-menu .content-area {
    flex-direction: row;
    text-align: left;
  }
}

#footer-menu ul {
  list-style-type: none;
  padding: 0;
}
#footer-menu a {
  text-decoration: none;
  color: #333;
  padding: 5px 0;
  display: block;
}
