html {
  --primary-color: #e63946;
  --primary-color-lighter: #e25761;
  --primary-color-darker: #a22831;
  --primary-color-accent: #cee5f6;

  --contract-color-light: #fff;
  --contract-color-dark: #1d3557;

  --primary-text-color: #2c3e50;
}
